# MongoDB Configuration
MONGODB_URI=mongodb+srv://kanishk:<kanishk10>@cluster0.4x8gaak.mongodb.net/?appName=Cluster0

# JWT Secret for authentication
JWT_SECRET=zudio_jwt_secret_key_2024

# Server Port
PORT=5000
